# Local profile (default)
SPRING_PROFILES_ACTIVE=local
DB_URL=jdbc:mysql://localhost:3306/ecommerce?createDatabaseIfNotExist=true
DB_USER=root
DB_PASSWORD=root

# Aiven profile
#SPRING_PROFILES_ACTIVE=aiven
#AIVEN_DB_URL=jdbc:mysql://mysql-xxxx.aivencloud.com:12345/defaultdb?sslMode=REQUIRED
#AIVEN_DB_USER=avnadmin
#AIVEN_DB_PASSWORD=change-me

